{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  href="{% static  'mysite/home.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docment</title>
</head>
<body>
    <div class="btn1">
        <div class="btn1v">
            <form action="/mainScript" class="b1">
            {% csrf_token %}
            <button type="submit" name="run_script" >Run script 1 </button>
            </form>
        </div>
    </div>
    <div class="btn2">
        <div class="btn2v">
            <form action="/mainScript" class="b2">
            {% csrf_token %}
            <button type="submit" name="run_script" >Run script 2</button>
            </form>
        </div>
    </div>
</body>
</html>

