@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Raleway:wght@700&display=swap');

body {
    background-color: #252525;
}

/* put btn1 on center of screen */
.btn1 {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
}

/* put btn2 on center of screen */
.btn2 {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}





button:hover {
    background-color: #c985c0;
}
